.actions {
    width: 100px;
    display: flex;
    justify-content: space-between;
}

.icon {
    width: 16px;
    border: none;
    background: transparent;
    cursor: pointer;
}
.disable{
    width: 16px;
    border: none;
    background: transparent;
    opacity: 0.6;
}
.packNameWithCover{
    display: flex;
    align-items: center;
}
.packNameWithCover img{
    background-color: #cecece;
    padding: 2px;
    margin-right: 20px;
}