.actions {
    width: 100px;
    display: flex;
    justify-content: space-between;
}

.icon {
    width: 16px;
    border: none;
    background: transparent;
}
.disable{
    width: 16px;
    border: none;
    background: transparent;
    opacity: 0.6;
}