.ava {
    margin-right: 20px;
    background-color: #cecece;
    border-radius: 50%;
    padding: 3px;
}

.navlink {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}