.wrapper {
    position: absolute;
    bottom: 50px;
    left: 50px;
    min-width: 150px;
    background: red;
    color: #FFFFFF;
    justify-content: space-between;
    padding: 16px 16px;
    border-radius: 4px;
    box-shadow: 0px 2px 10px rgba(109, 109, 109, 0.25), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
    display: none;
}

.open {
    display: flex;
}

.closeButton {
    margin-left: 20px;
    cursor: pointer;
    transition: background 0.3s;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: transparent;
}

.closeButton svg {
    width: 20px;
    height: 20px;
}

.closeButton:hover {
    background: rgba(0, 0, 0, 0.1);
}