.packs-wrapper {
    width: 1000px;
    margin: 0 auto;
}

.packs-block {
    margin-top: 36px;
}

.packs-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.table-wrapper {
    margin-top: 24px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table td {
    padding: 15px 0;
}

table td:first-child {
    padding-left: 36px;
}

.table-header {
    background: #EFEFEF;
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.pack-link {
    cursor: pointer;
    display: block;
    color: black;
    text-decoration: none;
}

.pack-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.empty-cards-block {
    text-align: center;
    margin-top: 86px;
}

.filterLabel {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 8px;
    display: block;
}

.empty-cards-block p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    opacity: 0.5;
    margin-bottom: 32px;
}

.name {
    width: 300px;
    overflow: hidden;
    overflow-clip: d;
}

.cards-count {
    width: 200px;
}

.author-name {
    width: 200px;
    overflow: hidden;
}

/*modal windows*/

.modal-buttons-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}
