.blockLearn {

}
.title {
    display: flex;
    justify-content: center;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    margin-top: 70px;
}
.back {

}



.answer {
    padding-left: 33px;
}
